@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/type/ABC_Diatype.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype Medium';
    src: url('/assets/type/ABC_Diatype_Medium.woff2') format('woff2');
    font-style: 500;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype Semi-Mono';
    src: url('/assets/type/ABC_Diatype_Semi-Mono.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
    cursor: url('/assets/graphics/plus_point.svg'), auto;
}    

html a:hover {
    cursor: url('/assets/graphics/plus_hover.svg'), auto;
}

body { 
    background-color: #111;
    background-image: url(/assets/background.webp);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    background-position: center; 
    background-position-x: 15%;
    margin: 0;
    padding:0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    overflow-y: hidden;
}   

main {
    height: 100vh;
    overflow: hidden;
}

.content {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    height: 100vh;
}

.content-inner {
    padding: 1.5rem 1rem;
}  

p {
    font-family: 'ABC Diatype', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    font-style: normal;
    color: #FFFEFC;
    line-height: 1.4;
    max-width: 48rem;
    margin: 1rem 0 0 0;
}

@media only screen and (max-width: 768px) {
    p {
        font-size: 1.25rem;
	}
}

h3 {
    font-family: 'ABC Diatype Semi-Mono', monospace;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    line-height: 1.4;
    color: #39FF14;
}

h2 {
    font-family: 'ABC Diatype', sans-serif;
    font-size: clamp(1.7rem,3.5vw,2.5rem);
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    color: #FFFEFC;
}

h1 {
    font-family: 'ABC Diatype Medium', sans-serif;
    font-size: clamp(2.75rem,6vw,3.75rem); 
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    margin: 1rem 0;
    color: #FFFEFC;
}

a {
    color: #FFFEFC;
    text-decoration: none;
}

/*——Blink*/

.blink {
    animation: 1.5s infinite blink;
    display: inline-block;
}

@keyframes blink {
    0%, 15% {
        opacity: 0;
    }

    16%, 100% {
        opacity: 1;
    }

    0%, 15% {
        opacity: 0;
    }

    16%, 100% {
        opacity: 1;
	}

    0%, 15% {
        opacity: 0;
    }
    16%, 100% {
        opacity: 1;
	}
}